html, body{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    overflow-x: hidden;
}


.footer{
    position: absolute;
    bottom: 75px;
    padding: 5px;
}
.footer>span{
    height: 10px;
    color: #757575;
}

.footer>span>a{
    color: #FBB03B;
    text-decoration: underline;    
}
nav{
    background-color: white;
    position: fixed;
    display: flex;
    padding: 3px;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #dad9d9;
    align-content: space-between;
}

nav>.nav-left{
    display: flex;
    margin-left: 125px;
}

nav>.nav-left>h1{
    font-weight: 500;
    font-size: 22px;
    margin: auto 0px;
    opacity: .54;
}
nav>.nav-left>*{
    display: inline-block;
    position: relative;
}

nav>.nav-right{
   display: flex;
   align-self: center;
   position: absolute;
   right: 50px;
}
nav>.nav-right>*{
    display: inline-block;
    margin: 0px 2.5px;
}

section.tasker-left{
    display: inline-block;
    margin-top: 66px;
    height: 100vh;
    position: fixed;
    width: 15%;
    border-right: 1px solid #dad9d9;
    padding: 3px;
}

img.tasker-icon{
    width: 35px;
    height: 35px;
    margin: auto 5px auto 0px;
}

img.search-icon{
    width: 25px;
    height: 25px;
    margin: auto 5px auto 0px;
}

.categories{
    margin-left: 20px;
}

.categories>h1{
    opacity: .54;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0px;
}

.categories>ul{
    list-style:none;
    padding: 0px;
}

.categories>ul>li{
    display: flex;
    margin: 5px 0px;
}

li>.cat-color{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 7px;

}

.uni-cat{
    background-color: #ed0033;
}

.work-cat{
    background-color: #0051ff;
}

.personal-cat{
    background-color: #21cc44;
}

section.tasker-list{
    display: flex;
    padding: 5px;
    margin-left: 16%;
    padding-top: 75px;
}

.task>p{
    overflow-wrap: break-word;
}

.project{
    width: 250px;
    height: auto;
    border-radius: 3px;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px;
}

.project>h1{
    margin-top: 5px
}

.uni{
    background-color: #ed0033;
}

.work{
    background-color: #21cc44;
}

.personal{
    background-color: #0051ff;
}
.modal {
    display:none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #dad9d9;
    width: 500px;
    border-radius: 5px;
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}

button{
    border:none;
    width: 88px;
    height: 32px;
    border-radius: 3px;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin: 1px 2.5px;
}

#confirm-add-project{
    background-color: #FBB03B;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
button#add-project{
    outline:none;
    background-color:#FBB03B;
    border-radius: 50px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    width: 56px;
    height: 56px;
    font-size: 2em;
    color: white;
    border: none;
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

button#add-project:hover{
    box-shadow:0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    background-color: #ffc262;
}

#project-modal_actions{
    text-align: right;
}

.task-group{
    display: flex;
    margin-bottom: 20px;
}
/* 
    Part of these input styles - specifically the how the label and bar/highlighter work
    are based on code by Chris Sevilleja (which can be found here: https://codepen.io/sevilayha/pen/IdGKH)

    I've modified it to suit my needs, which mainly consisted of changing some of the colours, 
    but I've also tweaked some of the default styling for the inputs too as well as updated
    the code to make sure that textarea elements will be styled correctly too.

    I've also changed it so that inputs can be different sizes, and the active state bar will
    still be the appropriate size.
*/
.input-group{ 
    position:relative; 
    /* margin-bottom:45px; */
    margin: 0px 10px;
    width: 120px;
    display: inline-block;
}

.date-group{
    width: 150px;
}

.description-group{
    width: 205px;
}
.input-group:first-of-type{
    margin-left: 0px;
}

.project-details{
    display: flex;
}

input, textarea, select{
    position: relative;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    border-radius: 2px;
    background-color: #dad9d9;
}

textarea{
    resize: none;
}

select{
    height: 42px;
}
input:focus, textarea:focus, select:focus{ 
    outline:none;
}

input[name="due-date"]{
    font-size: 14px;
}

label{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label, textarea:focus ~ label, select:focus ~ label{
    top:-20px;
    font-size:14px;
    color:#FBB03B;
}

.bar{ 
    position:relative; display:block; width: calc(100% + 15px); 
}

.bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#FBB03B; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.bar:before{
    left:50%;
}

.bar:after{
    right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, select:focus ~ .bar:after, select:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}


.search-group{
    width: 300px;
    margin-right: 15px !important;
}

#task-filter{
    width: 120px;
}

[tooltip]{
    margin:20px;
    position:relative;
}
[tooltip]::after{
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

[tooltip-position='left']::before{
    left:0%;
    top:50%;
    margin-left:-12px;
    transform:translatey(-50%) rotate(-90deg) 
}

[tooltip-position='left']::after{
    left:0%;
    top:50%;
    margin-left:-8px;
    transform: translateX(-100%)   translateY(-50%);
}

[tooltip]:hover::after{
    opacity:1
 }